@charset "UTF-8"

*{
	margin:0px; /*задать величину отступа сразу для всех сторон */
	padding:0px;/*позволяет задать величину поля сразу для всех сторон*/
	outline:0px;
	outline:none;
}
html{
	height:100%; ./* высотa таблицы*/
}
body{
	width:100%;
	height:100%;/*высота таблыцы*/
	color:#333;
	background:#f7f7f7; /*позволяет установить одновременно до пяти характеристик фона*/
	font-size:1em; /*Определяет размер шрифта элемента*/
	font-family:"Segoe UI", sans-serif; /*Устанавливает семейство шрифта*/
	line-height:135%;
}
a{
	color:#f48b8b;
	text-decoration:none;
	transition:all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition:all.6s ease;
}
a:hover{
	color:#8b9ff5;
	text-decoration:none;
	transition:all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition:all.6s ease;
}
a:active{color:#8ce4a6}
img{
	max-width:100%;
	height:auto;
	width:auto\9;
}
hr{
	display:block;
	border:0px;
	height:1px;
	border-top:1px solid #ccc;
	padding:0px;
}
#menuHrefs a {
	padding:5px;
	border-right:5px:
	margin-right:5px;
	color:#626262;
}
#menuHrefs a:hover{
	background-color:#ececec;
	
}
.left{float:left;}
.right{float:right;}
.clear{clear:#8ce4a6;}
/* Selecion Block*/
::selection{background:#f58b8b;color:#fff}
::-moz-section{background:#f58b8b;color:#fff}
	
header,footer{
	width:98%;
	backround-color:#fff;
	float:left;
}

header{
	border-bottom:2px solid silver;
	padding:1px;
}

#instagram{
	font-size:1.7em;
	height:auto;
	font-family:Comic Sans MS, sans-serif;
	margin-left:15%;
	
}


#logo{
	font-size:2.em;
	font-family:Comic Sans MS,sans-serif;
	color:silver;
}

.contact{
	font-size:1.5em;
	font-family: Comic Sans MS,sans-serif;
	margin-left:20px;
	color:black;
}
input[type=text].field{
	border-radius:5px;
	border:2px solid silver;
	padding:5px;
	margin-left:20px;
}
input[type=text].field:focus{
	border:2px solid #f58b8b;
}
#menu{
	color:#666;
	font-family:Comic Saqmic MS,sans-serif;
	font-size:1.7em;
	height:auto;
}
#menu hr{
	width:500px;
	max-width:100%;
	margin-top:5px;
	margin-bottom:10px;
}
/*Основные стил для сайта*/
#wrapper{
	float:left;
	width:100%;
	margin-top:20px;
	
}
#wrapper #articles{
	float:left;
	width:80%;
	margin-left:20%;
}
#wrapper #articles article{
	float:left;
	width:23.33%;
	border:1px solid silver;
	box-sizing:border-box;
	border-radius:5px;
	background-color:#fafafa;
	margin-right:3%;
	min-height:400px;
}
#wrapper #articles article img {
	width:300px;
	height:auto;
	border-radius:5px 5px 0px 0px;
	border-bottom:1px solid silver;
	margin-bottom:10px;
}
#wrapper #articles article h6{
	margin-top:1%;
	font-weigth:normal;/*размер шрифта*/
	font-saze:1.7;
	color:#424242
}
/*Центральный болк для сайта*/
#main_soc_block{
	width:100%;
	padding:2% 0%;
	border-bottom:2px solid silver;
	border-top:2px solid silver;
	margin:20px 0;
	float:left;
	background:url(../img/staf.png) repeat-x ;
	height:125px;
}

/*стили для футера*/
footer{
	padding:1%;
	border-top:5px solid silver;
	margin-top:70px;
	padding-bottom:2%;
}
footer img{
	width:20%;
	float:left;
	margin-right:5px;
}
#page-wrap:after{
	content:"";
	display:block;
}
footer,#page-wrap:after{
	height:10px;
}
#page-wrap{
	min-height:110%;
	margin-bottom:-10%;
}